*.ffm
*.svm
*.csv
*.swp
*.label
__pycache__/
build/

# tmp file
*.pyc
*.tmp
*.so

# model training 
*.log
*.pth
*.pt

# model output
*.pred*
*.prob*

# data 
data
data/*
Pva*
Qva*
*.lmdb

# binary
*.o
*.model
train

# tags
tags

